services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=twitterspring
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: